{% if project.redirect -%}
<a href="{{ project.redirect }}">
{%- elsif project.redirect_internal -%}
<a href="{% link {{ project.redirect_internal }} %}">
{%- else -%}
<a href="{{ project.url | relative_url }}">
{%- endif %}

  <div class="card hoverable mb-4">
    <div class="card-body">
        <!-- <h5 class="card-title">Card title</h5> -->
        <h2 class="card-title">{{ project.title }}</h2>
        <p class="card-text">{{ project.description }}</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</a>