.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.section-nav {
    background-color:  var(--global-bg-color);
    margin: 5px 0;
    padding: 10px 30px;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
}

.first-course-item {
    padding-top: 1.5rem;
}

.course-item {
    padding-top: 0rem;
}

/* Nathan Lam
   June 2, 2017
   Add this css for responsive embedded videos in your .css file. */

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.badge.computer-systems {
    background-color: $blue-color;
}

.badge.theory {
    background-color: $red-color;
}

.badge.pl-theory {
    background-color: $pink-color;
}

.badge.machine-learning {
    background-color: $pink-color;
}

.badge.artificial-intelligence {
    background-color: $pink-color-light;
}

.badge.data-science {
    background-color: $light-cyan-color;
}

.badge.graphics {
    background-color: $green-color-lime;
}

.badge.math {
    background-color: $cyan-color;
}

.badge.statistics {
    background-color: $grey-color;
}

.badge.robotics {
    background-color: $orange-color;
}

.badge.undergraduate {
    background-color: $green-color;
}

.badge.graduate {
    background-color: $purple-color;
}

.badge.computer-systems:after {
    content: "Computer Systems";
}

.badge.theory:after {
    content: "Computer Science Theory";
}

.badge.pl-theory:after {
    content: "Programming Language Theory";
}

.badge.machine-learning:after {
    content: "Machine Learning";
}

.badge.artificial-intelligence:after {
    content: "Artificial Intelligence";
}

.badge.data-science:after {
    content: "Data Science";
}

.badge.graphics:after {
    content: "Graphics";
}

.badge.math:after {
    content: "Mathematics";
}

.badge.statistics:after {
    content: "Statistics";
}

.badge.robotics:after {
    content: "Robotics";
}

.badge.undergraduate:after {
    content: "Undergraduate";
}

.badge.graduate:after {
    content: "Graduate";
}