$theorem-padding-top: 20px;
$theorem-padding-bottom: 20px;

.theorem, .lemma, .proposition, .corollary, .definition, .conjecture, .example {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  position: relative;
  margin: 0.9765em 0;
  padding: 0 0.75rem;
  border-left: 0.25rem solid #00b0ff;
  border-radius: 0.125rem;
  overflow: auto;
}

.theorem-contents {
    padding: 0.75rem 0 0.75rem;
}

.theorem .theorem-title, .lemma .theorem-title, .proposition .theorem-title, .corollary .theorem-title, .definition .theorem-title, .conjecture .theorem-title {
  margin: 0 -0.75rem;
  border-bottom: 0.1rem solid rgba(68, 138, 255, 0.1);
  background-color: rgba(0, 176, 255, 0.1);
  font-weight: 700;
  display: block;
  font-size: 1em;
  color: #008ac7;
  padding: 0.5rem 0 0.5rem 0.75rem;
}

.definition {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  position: relative;
  margin: 0.9765em 0;
  padding: 0 0.75rem;
  border-left: 0.25rem solid #00bfa5;
  border-radius: 0.125rem;
  overflow: auto;
}
.definition .theorem-title {
  margin: 0 -0.75rem;
  border-bottom: 0.1rem solid rgba(68, 138, 255, 0.1);
  background-color: rgba(0, 191, 165, 0.1);
  font-weight: 700;
  display: block;
  font-size: 1em;
  color: #009e88;
  padding: 0.5rem 0 0.5rem 0.75rem;
}
.definition .theorem-title::before {
  margin-right: 0.75rem;
  font-weight: 400;
  color: #00bfa5;
}

.lemma {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  position: relative;
  margin: 0.9765em 0;
  padding: 0 0.75rem;
  border-left: 0.25rem solid #E91E63;

  border-radius: 0.125rem;
  overflow: auto;
}
.lemma .theorem-title {
  margin: 0 -0.75rem;
  border-bottom: 0.1rem solid rgba(68, 138, 255, 0.1);
  background-color: rgba(248, 187, 208, 0.3);
  font-weight: 700;
  display: block;
  font-size: 1em;
  color:  #E91E63;

  padding: 0.5rem 0 0.5rem 0.75rem;
}
.lemma .theorem-title::before {
  margin-right: 0.75rem;
  font-weight: 400;
  color: #E91E63;
}

.remark {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  position: relative;
  margin: 0.9765em 0;
  padding: 0 0.75rem;
  border-left: 0.25rem solid #00b8d4;
  border-radius: 0.125rem;
  overflow: auto;
}
.remark .theorem-title {
  margin: 0 -0.75rem;
  border-bottom: 0.1rem solid rgba(68, 138, 255, 0.1);
  background-color: rgba(0, 184, 212, 0.1);
  font-weight: 700;
  display: block;
  font-size: 1em;
  color: #00899e;
  padding: 0.5rem 0 0.5rem 0.75rem;
}
.remark .theorem-title::before {
  margin-right: 0.75rem;
  font-weight: 400;
  color: #00b8d4;
}


.proof {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  position: relative;
  margin: 0.9765em 0;
  padding: 0 0.75rem;
  border-left: 0.25rem solid #00c853;
  border-radius: 0.125rem;
  overflow: auto;
}
.proof .theorem-title {
  margin: 0 -0.75rem;
  border-bottom: 0.1rem solid rgba(68, 138, 255, 0.1);
  background-color: rgba(0, 200, 83, 0.1);
  font-weight: 700;
  display: block;
  font-size: 1em;
  color: #00a043;
  padding: 0.5rem 0 0.5rem 0.75rem;
}
.proof:after {
  float: right;
  margin-top: -1em;
  font-size: 1.9em;
}

.algorithm {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  position: relative;
  margin: 0.9765em 0;
  padding: 0 0.75rem;
  border-left: 0.25rem solid #8e5bff;
  border-radius: 0.125rem;
  overflow: auto;
}
.algorithm .theorem-title {
  margin: 0 -0.75rem;
  border-bottom: 0.1rem solid rgba(68, 138, 255, 0.1);
  background-color: rgba(101, 31, 255, 0.1);
  font-weight: 700;
  display: block;
  font-size: 1em;
  color: #6635d2;
  padding: 0.5rem 0 0.5rem 0.75rem;
}
.algorithm .theorem-title::before {
  margin-right: 0.75rem;
  font-weight: 400;
  color: #8e5bff;
}

.warning {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  position: relative;
  margin: 0.9765em 0;
  padding: 0 0.75rem;
  border-left: 0.25rem solid #ff9100;
  border-radius: 0.125rem;
  overflow: auto;
}
.warning .theorem-title {
  margin: 0 -0.75rem;
  border-bottom: 0.1rem solid rgba(68, 138, 255, 0.1);
  background-color: rgba(255, 145, 0, 0.1);
  font-weight: 700;
  display: block;
  font-size: 1em;
  color: #e48200;
  padding: 0.5rem 0 0.5rem 0.75rem;
}
.warning .theorem-title::before {
  margin-right: 0.75rem;
  font-weight: 400;
  color: #ff9100;
}

.example {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  position: relative;
  margin: 0.9765em 0;
  padding: 0 0.75rem;
  border-left: 0.25rem solid #E91E63;

  border-radius: 0.125rem;
  overflow: auto;
}
.example .theorem-title {
  margin: 0 -0.75rem;
  border-bottom: 0.1rem solid rgba(68, 138, 255, 0.1);
  background-color: rgba(248, 187, 208, 0.3);
  font-weight: 700;
  display: block;
  font-size: 1em;
  color:  #E91E63;

  padding: 0.5rem 0 0.5rem 0.75rem;
}
.example .theorem-title::before {
  margin-right: 0.75rem;
  font-weight: 400;
  color: #E91E63;
}